.work {
	padding-top: 48px;
	padding-bottom: 48px;
}

.work__wrap {
}

.work__pre-title {
	font-weight: 700;
	font-size: 16px;
	line-height: calc(24 / 16);
	text-transform: uppercase;
	margin-bottom: 8px;

	color: #8491a0;
}

.work__title {
	font-weight: 700;
	font-size: 32px;
	line-height: calc(38 / 32);
	margin-bottom: 40px;

	color: #ffffff;
}

.work__box {
	margin-bottom: 40px;
}

.work__number {
	font-weight: 400;
	font-size: 117px;
	line-height: calc(141 / 117);

	color: #8491a0;
}

.work__google {
	font-weight: 700;
	font-size: 24px;
	line-height: calc(36 / 24);

	color: #3cc74e;
}

.work__after-title {
	font-weight: 700;
	font-size: 24px;
	line-height: calc(36 / 24);
	margin-bottom: 16px;

	color: #ffffff;
}

.work__text {
	font-weight: 400;
	font-size: 16px;
	line-height: calc(24 / 16);

	color: #8491a0;
}

.work__facebook {
	font-weight: 700;
	font-size: 24px;
	line-height: calc(36 / 24);

	color: #609bff;
}

.work__dribbble {
	font-weight: 700;
	font-size: 24px;
	line-height: calc(36 / 24);

	color: #e95d90;
}
